﻿/*
Theme Name:  Unika
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Unika.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Unika
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*
*
*font-family: 'EB Garamond', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
*/
/*FONTS EXTRAS*/


.aplicacaoCardapio{
	z-index: 99999999999;
	
}

/* CARDÁPIO */
	.cardapioInicial{
		background-size:cover!important;
		background-position: center!important;
		width: 100%;
		height: 100vh;
		position: relative;
		display: none;
		top: 0;
		z-index: 99;
		position: fixed;
		
	}
	
		.cardapioInicial .fecharCardapio{
			position: absolute;
		}
		.cardapioInicial .sidebar{
   			max-width: 290px;
   			height: 100vh;
		}
			.cardapioInicial .sidebar a > img{
				display: block;
				max-width: 110px;
				margin: 35px auto 30px;
			}
			.cardapioInicial .sidebar .cardapioInicialTitulo{
				position: relative;
				max-width: 240px;
				height: 110px;
				margin: 0 auto 10px;
			}
				.cardapioInicial .sidebar .cardapioInicialTitulo:before{
					content: '';
					display: block;
					background: url(../img/cetaBottom.png);
					width: 123px;
					height: 26px;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);

				}
				.cardapioInicial .sidebar .cardapioInicialTitulo p{
					font-family: 'Lato', sans-serif;
					font-size: 40px;
					color: #fff;
					font-style: italic;
					margin: 0;
					line-height: 45px;
					font-weight: 500;
					text-align: center;
				}
				.cardapioInicial .sidebar .cardapioInicialTitulo span{
					font-family: 'Lato', sans-serif;
					font-size: 18px;
					color: #fff;
					font-style: italic;
				}
			.cardapioInicial .sidebar aside{
				width: 100%;
				max-width:280px;
				display: block;
			    background: rgba(0, 0, 0, 0.72);
		        padding: 1px 10px;
		        height: 100%;
			}
			.logoSidebar{
				display: none;
			}
				.cardapioInicial .sidebar aside nav{
		
				}
					.cardapioInicial .sidebar aside nav h3{
						margin-bottom: 24px;
						font-size: 30px;
						color: #fff;
						text-decoration: none;
						display: block;
						line-height: 32px;
						font-family: 'EB Garamond', serif;
						font-weight: 500;
						position: relative;
						padding-left: 25px;
						cursor: pointer;
						
					}
						.cardapioInicial .sidebar aside nav h3:hover:before{
							content: '';
							display: block;
							background: url(../img/setaDireita.png);
							width: 14px;
							height: 32px;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
						}
					.cardapioInicial .sidebar aside nav .ativo{
						color: #46a6af;
						
					}
					.cardapioInicial .sidebar aside nav .ativo:before{
						content: '';
						display: block;
						background: url(../img/setaDireita.png);
						width: 14px;
						height: 32px;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						
					}
						.cardapioInicial .sidebar aside nav .happy{
							font-family: 'EB Garamond', serif;
							
							font-size: 2vw;
							text-transform: uppercase;
							font-weight: 600;
							
						}
						.cardapioInicial .sidebar aside nav h3:hover{
							color: #46a6af;

						}
						.cardapioInicial .sidebar aside nav h3 strong{
		
						}

/* CARDÁPIO PRINCIPAL */
	.cardapioPrincipal{
	    background-position: 50% 50%!important;
        background-attachment: fixed!important;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin: auto;
		display: none;
		z-index: 99;
	    min-height: 2509px;
	}
		.cardapioPrincipal .fecharCardapio{
			position: fixed;
		}
		.cardapioPrincipal:before{
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			content: "";
			background: #000000ad;
		}	
		.cardapioPrincipal .cabecalhoCardapio{
			display: block;
			width: 10vw;
			height: 100vh;
			position: fixed;
			min-width: 170px;
			cursor: pointer;
			z-index: 2;
		}
			.cardapioPrincipal .cabecalhoCardapio .logo{
				display: block;
				max-width: 112px;
			    margin: 30px auto;
			}
			.cardapioPrincipal .cabecalhoCardapio .voltar{
				display: block;
				background: transparent;
				border: solid 1px transparent;
				color: #fff;
				padding: 1px 20px;
				font-weight: 600;
				font-family: 'Lato', sans-serif;
				font-style: italic;
				margin: 80px auto 0;
				outline: none;
				cursor: pointer;
			}
				.cardapioPrincipal .cabecalhoCardapio .voltar:hover{
					border-color: #fff;
				}
			.cardapioPrincipal .cabecalhoCardapio h2{
				font-family: 'EB Garamond', serif;
				color: #fff;
				text-transform: uppercase;
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
				font-size: 4.375rem;
				position: absolute;
				display: block;
				-ms-transform-origin: 0 50%;
				transform: translate(-50%);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
				left: 50%;
				right: 50%;
				top: 73vh;
			}
	.cardapioPrincipal .contentCardapio{
		width: 100%;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
		.cardapioPrincipal .contentCardapioSidebar{
			left: 170px;
			background: red;
		    position: fixed;
		    background:url(../img/fundoContentSidebar.png);
		    z-index: 2;
		}
			.cardapioPrincipal .contentCardapioSidebar .itemSidebar{
				height: 100vh;
			        border-right: solid 1px #ccc;
			}
				.cardapioPrincipal .contentCardapioSidebar .itemSidebar a{
					text-decoration: none;
					color: #404a48;
				}
				.cardapioPrincipal .contentCardapioSidebar .itemSidebar h2{
					width: 20vw;
					height: 20.5vh;
					display: block;
					color: #404a48;
					font-family: 'EB Garamond', serif;
					text-align: center;
					margin: 0;
					padding-top: 50px;
					position: relative;
					cursor: pointer;
					font-size: 2.1vw;
					text-align: left;
					padding-left: 1.5vw;
					transition:All .2s ease;
					-webkit-transition:All .2s ease;
					-moz-transition:All .2s ease;
					-o-transition:All .2s ease;


				}
					.cardapioPrincipal .contentCardapioSidebar .itemSidebar h2:hover{
						background: #fff;
						-webkit-box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
						box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
						transition:All .2s ease;
						-webkit-transition:All .2s ease;
						-moz-transition:All .2s ease;
						-o-transition:All .2s ease;
						color: #859daa;
					}
					.cardapioPrincipal .contentCardapioSidebar .itemSidebar h2.ativo{
						background: #fff;
						-webkit-box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
						box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
						transition:All .2s ease;
						-webkit-transition:All .2s ease;
						-moz-transition:All .2s ease;
						-o-transition:All .2s ease;
						color: #859daa;
					}
	.cardapioPrincipal .contentCardapioDescripition{
		    
    width: 100%;
    position: relative;
    z-index: 1;
    padding-left: 30.5vw;
	}
		.cardapioPrincipal .contentCardapioDescripition .descripitionImgCardapio{
			height: 400px;
			width: 100%;
			display: block;
			position: relative;
			background: url(../img/fotoDescripition.jpg);
			background-position: center!important;
			background-size: cover!important;
		}
			.cardapioPrincipal .contentCardapioDescripition .descripitionImgCardapio:before{
				content: '';
				display: block;
				width: 100%;
				height: 9px;
				background: url(../img/linhaFoto.png);
				position: absolute;
				bottom: 0;
			}
			.cardapioPrincipal .contentCardapioDescripition .descripitionImgCardapio:after{
				content: '';
				display: block;
				width: 100%;
				height: 15px;
				background: url(../img/linhaFotoTop.png);
				position: absolute;
				top: -8px;
			}
		.cardapioPrincipal .contentCardapioDescripition .descripition{
			background: #fff;
			padding: 10px 20px;
			padding-left: 63px;
		}
			.cardapioPrincipal .contentCardapioDescripition .descripition .likebtn_container{
				display: none;
			}
			.cardapioPrincipal .contentCardapioDescripition .descripition .item{

			}
				.cardapioPrincipal .contentCardapioDescripition .descripition .item h2{
					font-family: 'EB Garamond', serif;
					font-size: 35px;
					color: #424243;
					text-transform: uppercase;
				}	
				.cardapioPrincipal .contentCardapioDescripition .descripition .item h3{
					font-family: 'Lato', sans-serif;
					font-size: 20px;
					font-weight: 800;
					font-style: italic;
					margin: 0 0px 20px 0;
					color: #424243;
					display: inline-block;
					padding-right: 90px;
					position: relative;
					margin-top: 18px;
				}
					.cardapioPrincipal .contentCardapioDescripition .descripition .item h3 a{
						
					}
					.cardapioPrincipal .contentCardapioDescripition .descripition .item h3 a:first-child{
						background: url(../img/foto.png);
						width: 26px;
						height: 21px;
						background-repeat: no-repeat!important;
						position: absolute;
						left: -33px;
						background-size: cover!important;
						display: block;
					}
				.cardapioPrincipal .contentCardapioDescripition .descripition .item p{
					font-family: 'Lato', sans-serif;
					font-size: 16px;
					font-weight: 500;
					color: #424243;
					margin-bottom: 30px;
				}
		.cardapioPrincipal .contentCardapioDescripition .descripition .item ul{
			padding-left: 15px;
		    font-family: 'Lato', sans-serif;
		}
		
			.cardapioPrincipal .contentCardapioDescripition .descripition .item ul li{
				font-size: 17px;
				margin-bottom: 5px;
			}
		
/* EFECTTS */

	/* FADE INICIAL */
		.cardapioInicialSlideIn{
			animation-name: cardapioIn;
			-webkit-animation: cardapioIn 1.5s; /* Safari 4.0 - 8.0 */
			animation: cardapioIn 1.5s;
		}
			/* Safari 4.0 - 8.0 */
			@-webkit-keyframes cardapioIn {
			    0% {right:100%;}
			    100%{right: 0;}
			}

			/* Standard syntax */
			@keyframes cardapioIn {
			    0% {right:100%;}
			    100%{right: 0;}
			}

		.cardapioInicialSlideOut{
			animation-name: cardapioOut;
			-webkit-animation: cardapioOut 1s; /* Safari 4.0 - 8.0 */
			animation: cardapioOut 1s;
		}

			/* Safari 4.0 - 8.0 */
			@-webkit-keyframes cardapioOut {
				0% {left:0;}
				100% {left: -100%;}
			}

			/* Standard syntax */
			@keyframes cardapioOut {
			    0% {left:0;}
			    100% {left: -100%;}
			}
	/* CARDÁPIO PRINCIPAL */
		
		/* ÁREA INTEIRA FADE OUT */
		.mostrarCardapio{
			animation-name: mostrarCardapio;
			-webkit-animation: mostrarCardapio 1.5s; /* Safari 4.0 - 8.0 */
			animation: mostrarCardapio 1.5s;
			
		}

			/* Standard syntax */
			@keyframes mostrarCardapio {
			    0% {left: -100%;}
			    50%{left: 0%;}
			   
			}

		.SidebarFadeIn{
			animation-name: SidebarFadeIn;
			-webkit-animation: SidebarFadeIn 1.5s; /* Safari 4.0 - 8.0 */
			animation: SidebarFadeIn 1.5s;
			
		}

			/* Standard syntax */
			@keyframes SidebarFadeIn {
			    0% {left: -100%;}
			    50%{left: 170px;}
			   
			}
			@media(max-width: 991px){
				/* Standard syntax */
				@keyframes SidebarFadeIn {
					0% {left: -100%;}
					50%{left: 0px;}

				}
			}


		.CardapioPrincipalFadeOut{
			animation-name: CardapioPrincipalFadeOut;
			-webkit-animation: CardapioPrincipalFadeOut 1.5s; /* Safari 4.0 - 8.0 */
			animation: CardapioPrincipalFadeOut 1.5s;
			
		}

			/* Standard syntax */
			@keyframes CardapioPrincipalFadeOut {
			    0% {left:0;}
			    50%{left: -100%;}
			    100% {}
			}

		/* SIDEBAR */
		.SidebarFadeout{
			animation-name: SidebarFadeout;
			-webkit-animation: SidebarFadeout 2s; /* Safari 4.0 - 8.0 */
			animation: SidebarFadeout 2s;
			
		}

			/* Standard syntax */
			@keyframes SidebarFadeout {
			    0% {left:170px;}
			    100% {left: -100%;}
			   
			}
			@media(max-width: 991px){
				@keyframes SidebarFadeout {
			    0% {left:0px;}
			    100% {left: -100%;}
			   
			}
			}

		/* DESCRIÇÃO */
		.descripitionFadeOut{
			animation-name: descripitionFadeOut;
			-webkit-animation: descripitionFadeOut 2s; /* Safari 4.0 - 8.0 */
			animation: descripitionFadeOut 2s;
			
		}

			/* Standard syntax */
			@keyframes descripitionFadeOut {
			    0% {left:0;}
			    100% {left: -100%;}
			}

	/* LOAD CARDÁPIO */
		.loadCardapio{
			display: block;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			position: fixed;
			background: rgba(0, 0, 0, 0.7);
			display: none;
			z-index: 99;
		}
		#floatingCirclesG{
			position:relative;
			width:122px;
			height:122px;
			margin:auto;
			transform:scale(0.6);
			-o-transform:scale(0.6);
			-ms-transform:scale(0.6);
			-webkit-transform:scale(0.6);
			-moz-transform:scale(0.6);
			top: 50%;
		}

		.f_circleG{
			position:absolute;
			background-color:rgb(255,255,255);
			height:22px;
			width:22px;
			border-radius:11px;
				-o-border-radius:11px;
				-ms-border-radius:11px;
				-webkit-border-radius:11px;
				-moz-border-radius:11px;
			animation-name:f_fadeG;
				-o-animation-name:f_fadeG;
				-ms-animation-name:f_fadeG;
				-webkit-animation-name:f_fadeG;
				-moz-animation-name:f_fadeG;
			animation-duration:1.2s;
				-o-animation-duration:1.2s;
				-ms-animation-duration:1.2s;
				-webkit-animation-duration:1.2s;
				-moz-animation-duration:1.2s;
			animation-iteration-count:infinite;
				-o-animation-iteration-count:infinite;
				-ms-animation-iteration-count:infinite;
				-webkit-animation-iteration-count:infinite;
				-moz-animation-iteration-count:infinite;
			animation-direction:normal;
				-o-animation-direction:normal;
				-ms-animation-direction:normal;
				-webkit-animation-direction:normal;
				-moz-animation-direction:normal;
		}

		#frotateG_01{
			left:0;
			top:49px;
			animation-delay:0.45s;
				-o-animation-delay:0.45s;
				-ms-animation-delay:0.45s;
				-webkit-animation-delay:0.45s;
				-moz-animation-delay:0.45s;
		}

		#frotateG_02{
			left:14px;
			top:14px;
			animation-delay:0.6s;
				-o-animation-delay:0.6s;
				-ms-animation-delay:0.6s;
				-webkit-animation-delay:0.6s;
				-moz-animation-delay:0.6s;
		}

		#frotateG_03{
			left:49px;
			top:0;
			animation-delay:0.75s;
				-o-animation-delay:0.75s;
				-ms-animation-delay:0.75s;
				-webkit-animation-delay:0.75s;
				-moz-animation-delay:0.75s;
		}

		#frotateG_04{
			right:14px;
			top:14px;
			animation-delay:0.9s;
				-o-animation-delay:0.9s;
				-ms-animation-delay:0.9s;
				-webkit-animation-delay:0.9s;
				-moz-animation-delay:0.9s;
		}

		#frotateG_05{
			right:0;
			top:49px;
			animation-delay:1.05s;
				-o-animation-delay:1.05s;
				-ms-animation-delay:1.05s;
				-webkit-animation-delay:1.05s;
				-moz-animation-delay:1.05s;
		}

		#frotateG_06{
			right:14px;
			bottom:14px;
			animation-delay:1.2s;
				-o-animation-delay:1.2s;
				-ms-animation-delay:1.2s;
				-webkit-animation-delay:1.2s;
				-moz-animation-delay:1.2s;
		}

		#frotateG_07{
			left:49px;
			bottom:0;
			animation-delay:1.35s;
				-o-animation-delay:1.35s;
				-ms-animation-delay:1.35s;
				-webkit-animation-delay:1.35s;
				-moz-animation-delay:1.35s;
		}

		#frotateG_08{
			left:14px;
			bottom:14px;
			animation-delay:1.5s;
				-o-animation-delay:1.5s;
				-ms-animation-delay:1.5s;
				-webkit-animation-delay:1.5s;
				-moz-animation-delay:1.5s;
		}

	/* LOAD CICLE */
	@keyframes f_fadeG{
		0%{
			background-color:rgba(0, 0, 0, 0.7);
		}

		100%{
			background-color:rgb(255,255,255);
		}
	}

	@-o-keyframes f_fadeG{
		0%{
			background-color:rgba(0, 0, 0, 0.7);
		}

		100%{
			background-color:rgb(255,255,255);
		}
	}

	@-ms-keyframes f_fadeG{
		0%{
			background-color:rgba(0, 0, 0, 0.7);
		}

		100%{
			background-color:rgb(255,255,255);
		}
	}

	@-webkit-keyframes f_fadeG{
		0%{
			background-color:rgba(0, 0, 0, 0.7);
		}

		100%{
			background-color:rgb(255,255,255);
		}
	}

	@-moz-keyframes f_fadeG{
		0%{
			background-color:rgba(0, 0, 0, 0.7);
		}

		100%{
			background-color:rgba(0, 0, 0, 0.7);
		}
	}

/* EXTRAS */
	::-webkit-scrollbar{
		background:#fff;
		width:0px;
	}
	::-webkit-scrollbar-thumb{
		background:#666;
		-webkit-border-radius:0px;
	}
	.fecharCardapio{
		font-family: 'EB Garamond', serif;
		
		color: #fff;
		background: #5a544a;
		border: none;
		outline: none;
		float: right;
		margin: 20px 40px;
		position: relative;
		z-index: 999;
		z-index: 3;
		right: 20px;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		text-align: center;
	}
	.fecharCardapio img{
		 width: 80%;
	}

	.funcaoVoltarTopo{	
	    bottom: 42px;
	    z-index: 9999;
	    position: fixed;
	    right: 20px;
	    display: none;
	}

	.funcaoVoltarTopo img{	
	    width: 50px;
	    z-index: 999;
		z-index: 3;
	    margin: 20px 40px;
	}
	
	.vegetariano{
		content: '';
		display: block;
		background: url(../img/vegetariano.png);
		width: 79px;
		height: 31px;
		background-repeat: no-repeat!important;
		position: absolute;
		right: 0;
		top: -6px;
	}
	.lactose{
		content: '';
		display: block;
		background: url(../img/lactose.png);
		width: 79px;
		height: 39px;
		background-repeat: no-repeat!important;
		position: absolute;
		top: -10px;
		right: 0;
	}
	.vegetarianoLactose{
			position: relative;
		}
			.vegetarianoLactose:after{
				content: '';
				display: block;
				background: url(../img/vegetarianoLactose.png);
				width: 79px;
				height: 31px;
				background-repeat: no-repeat!important;
				position: absolute;
				right: 0;
				top: -7px;
			}
		.nomeCategoria{
			opacity: 0;
			background: #fff;
			display: none;
		    bottom: -35px;
			position: absolute;
			width: 100%;
			left: 0;
			font-size: 20px;
			text-align: center;
			padding: 10px 0;
			-webkit-box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
			box-shadow: 0px 11px 13px -8px rgba(0,0,0,0.75);
			transition: All .2s ease;
			-webkit-transition: All .2s ease;
			-moz-transition: All .2s ease;
			-o-transition: All .2s ease;
		}
/* MEDIA */
	@media(max-width: 991px){
		.cardapioPrincipal .cabecalhoCardapio{
			display: block;
			width: 100%;
			height: initial;
			position: relative;
			min-width: 100%;
			cursor: pointer;
			z-index: 2;
			min-height: 100px;
		    padding: 0 20px;
		}
		.cardapioPrincipal .cabecalhoCardapio h2{
			-ms-transform: initial;
			transform: initial;
			position: initial;
			-ms-transform-origin: initial;
			transform: initial;
			-ms-transform: initial;
			transform: initial;
			left: initial;
			right: initial;
			top: initial;
		}
		.cardapioPrincipal .cabecalhoCardapio .voltar{
			margin: initial;
		}
		.cardapioPrincipal .cabecalhoCardapio .logo{
			display: block;
			max-width: 112px;
			margin: 22px 0;
		}
		.cardapioPrincipal .contentCardapioSidebar{
			left: initial;
			position: relative;
			width: 100%;
			background-size: cover!important;
		}
		.cardapioPrincipal .contentCardapioSidebar .itemSidebar h2{
			width: 100%;
			text-align: center;
			padding: 30px 10px;
			height: initial;
		    font-size: 18px;
		}
		.cardapioPrincipal .contentCardapioSidebar .itemSidebar{
			height: initial;
		}
		.cardapioPrincipal .contentCardapioDescripition{
			width: 100%;
			position: relative;
			padding-left: initial;
		}
		.cardapioPrincipal .contentCardapio{
			display: initial;
			display: initial;
			-ms-flex-align: initial;
			align-items: initial;
			-ms-flex-pack: initial;
			justify-content: initial;
		}
		.cardapioInicial{
		    position: fixed;
	        overflow-x: scroll;
	        background-position: left!important;
		}

	}
	@media(max-width: 768px){
		.cardapioPrincipal{
			padding-top: 153px;
		}
		

		.cardapioInicial .sidebar{
			max-width: 100%;
			height: 100%;
		}
		.cardapioInicial .sidebar aside{
			max-width: 100%;
		    height: 100%;
		}
		.cardapioInicial .sidebar .cardapioInicialTitulo{
			display: none;
		}
		.cardapioInicial .sidebar a > img{
			display: none;
		}
		.logoSidebar{
			display: block;
			margin: 20px auto 50px;
			max-width: 110px;
		}
		.cardapioInicial .sidebar aside nav h3{
		    height: 9.666667vh;
		}
		.cardapioInicial .sidebar aside nav .ativo:before{
			top: 0;
			transform: inherit;
		}
		.cardapioInicial .sidebar aside{
			max-width: 100%;
			height: 116vh;
		}


		.cardapioPrincipal .fecharCardapio{
			position: fixed;
		    top: 0;
		    z-index: 99999;

		}
		.cardapioPrincipal .fecharCardapio{
			font-size: 27px;
			width: 40px;
			height: 40px;
			margin: 29px 0;
			background: transparent;
			
		}


		.cardapioPrincipal .cabecalhoCardapio{
			position: fixed;
		    top: 0;
		    background: #000000d9;
		    z-index: 999;
		}
	    .cardapioPrincipal .cabecalhoCardapio .logo {
	    	max-width: 112px;
    		margin: 20px auto;
	    }

	    .cardapioPrincipal .cabecalhoCardapio .voltar {
		    display: block;
		    margin-left: -15px !important;
		    position: absolute !important;
		    top: 33px !important;
		    right: auto !important;
		}
        .cardapioPrincipal .cabecalhoCardapio h2{
        	text-align: center;
        	font-size: 30px;
        }
        .funcaoVoltarTopo img{
        	width: 35px;    
    		margin: 20px 0px;

        }
    }
@media(max-width: 768px){
	.nomeCategoria{
		opacity: 1;		
	}
	.fecharCardapio {
           background: #5a544a00;
    	   border-radius: 0;
        }

}
@media(max-width: 325px){
    .cardapioInicial .fecharCardapio {
		font-size: 22px;
		right: 0px;
    		width: 61px;
    		height: 50px
    
    }

   .cardapioPrincipal .fecharCardapio {
	
	          right: 43px;
    width: 62px;
    height: 51px;
    top: -11px;
   }
}